pkgbase = dracut-network-manager-wireless
	pkgdesc = A custom dracut module for initializing Wi-Fi connections during the early boot process.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/bl4ckw1d0w/dracut-network-manager-wireless
	arch = any
	license = Apache
	depends = dracut
	depends = networkmanager
	depends = wpa_supplicant
	depends = clevis
	depends = luks
	source = dracut-network-manager-wireless-v1.0.zip::https://raw.githubusercontent.com/bl4ckw1d0w/dracut-network-manager-wireless/main/main/dracut-network-manager-wireless-v1.0.zip
	sha256sums = a1deb32a61ce4344505985b57a316400d74975846efdcbbcef0c601abd064ca3

pkgname = dracut-network-manager-wireless
